.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
*/output
output
project.Rcheck/
project*.tar.gz
project*.tgz
elisa_clean_2023-11-01.csv
cholera_data_compiled_050324.csv
inst/doc
docsvignettes/*.pdf
vignettes/*.tex
